body{
    font-family: 'Raleway', sans-serif;
    background-color: #FFF;
    padding-top: 25px;
}
h1{
    font-family: 'Oswald', sans-serif;    
}
h2{    
    font-family: 'Lexend Deca', sans-serif;
}